.venv/
venv/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/qualcoder.substvars
debian/qualcoder
**dist*/
.eggs
.pybuild/
*.egg-info
*.deb
*/__pycache__
__pycache__
build
.DS_Store
.vscode
*.code-workspace
ai_readme.md
roadmap.md
tmp*.*
.coverage

.flatpak-*/
*.flatpak
