[Desktop Entry]
Name=QualCoder
Type=Application
Exec=python3 /usr/share/QualCoder/qualcoder.py
Icon=/usr/share/pixmaps/QualCoder.png
Terminal=true
Categories=Scientific
