[Desktop Entry]
Version=1.0
Type=Application

Name=QualCoder
Comment=Qualitative data analysis for text, images, audio, video
Categories=Science

Icon=io.github.ccbogel.QualCoder
Exec=qualcoder
Terminal=false
