chardet
diff-match-patch
EbookLib
openpyxl
pandas
pdfminer.six
Pillow
plotly
ply
pydub
PyQt6
qtawesome
python-vlc
rispy
six
SpeechRecognition
langchain 
langchain-community 
langchain-core 
langchain-chroma 
langchain-openai 
langchain-text-splitters 
chromadb>0.4.0 
sentence-transformers 
fuzzysearch 
PyYAML 
json_repair
