chardet
diff-match-patch
EbookLib
openpyxl
pandas
pdfminer.six
Pillow
plotly
ply
PyQt6>=6.5
qtawesome
python-vlc
requests
rispy
six
langchain>=0.2.8 
langchain-community>=0.2.7 
langchain-core>=0.2.19
langchain-openai>=0.1.16
langchain-text-splitters>=0.2.2 
faiss-cpu<=1.7.2
sentence-transformers 
fuzzysearch 
PyYAML 
json_repair
