chardet
diff-match-patch
EbookLib
openpyxl
pandas
pdfminer.six
Pillow
plotly
ply
pydub
PyQt6>=6.5
qtawesome
python-vlc
rispy
six
SpeechRecognition
langchain>=0.2.8 
langchain-community>=0.2.7 
langchain-core>=0.2.19
langchain-chroma>=0.1.2 
langchain-openai>=0.1.16
langchain-text-splitters>=0.2.2 
chromadb==0.5.0
sentence-transformers 
fuzzysearch 
PyYAML 
json_repair
