[Desktop Entry]
Name=QualCoder
Type=Application
Version=1.0
Comment=Qualitiatve data analysis
Exec=python3 -m qualcoder
Icon=/usr/share/icons/qualcoder.png
Terminal=false
Categories=Science;
Name[en_AU]=QualCoder
