[Desktop Entry]
Version=1.0
Name=QualCoder
GenericName=QualCoder 
Comment=Qualitiatve data analysis 
Type=Application
Categories=Science;Education
Exec=/opt/venvs/qualcoder/bin/qualcoder
Terminal=false
Categories=Science;
Icon=qualcoder
Name[en_AU]=QualCoder
